.room-container {
  margin-top: 20px;
}

.room-container .room-select {
  margin: 20px 0px;
}

.room-container .section-title {
  background: #8dbdd8;
  color: #fff;
  padding: 10px;
  font-size: 20px;
  font-weight: 200;
}
.room-container .inforow {
  padding: 10px;
  font-size: 15px;
  font-weight: 200;
}

.room-container .inforow i {
  font-size: 20px;
  font-weight: 200;
}

.room-container .inforow i.fa-check {
  color: green;
}

.room-container .inforow i.fa-times {
  color: red;
}

.row-timetable .section-title {
  min-height:  76px;
}

.row-timetable .timetable-cell {
  background: #fff;
  color: #000;
  padding: 10px;
  font-size: 15px;
  font-weight: 200;
  min-height:  64px;
  border: 1px solid grey;
}

.row-timetable .timetable-cell.booked {
  background: #8cb323;
}

.row-timetable .timetable-cell.slot {
  color: #000;
}